<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Blogbud
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/style.css" rel="stylesheet">

    </head>
    <body>
        
            <div class="header" style="user-select: auto;">
              
                <header class="d-flex flex-wrap  py-0  border-bottom header" style="user-select: auto;">
                  <a href="/" class="d-flex mx-4 mb-0 mb-md-0 me-md-auto link-body-emphasis text-decoration-none " style="user-select: auto;">
                    
                    <span class="fs-4 name" style="user-select: auto;"><img src="/mainlogo.png" class="mainLogo"></span>
                  </a>
                  <div class="inner-container mx-3">
                  <form action="/home/" method="GET">
                  <input type="submit" value="Home" class="button"> 
                  </form>

                <form action="/Books/" method="GET">
                  <input type="submit" value="Books" class="button"> 
                </form>
                <form action="/articles/" method="GET">
                  <input type="submit" value="Articles" class="button"> 
                </form>
                <form action="/products/" method="GET">
                  <input type="submit" value="Products" class="button"> 
                </form>
                </header>
            </div>
          
              </div>

             
    </body>
</html>