<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            Blogbud
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="/style.css" rel="stylesheet">

    </head>
    <body>
      <%- include('header.ejs') %>
      
      <div class="content">
        
            <div class="row p-4 col-sm-12 col-lg-12 col-xl-12 mt-5 mb-0 pe-lg-0 pt-lg-0 align-items-center">
              <div class="col-lg-5 col-sm-5 p-3 p-lg-5 ml-0 pt-lg-2" style="user-select: auto;">
                <h1 class="display-4 fw-bold lh-1 textbody">What's new in the book world?</h1>
                <p class="lead textbody" style="color:black;">Trust me when i say this, reading books is still trendy. The covers may not be as fancy or the stories may not be any different, it is still good to be friends with them. Read all about the new books worth giving a read. </p>
                <div class="d-grid gap-5 d-md-flex justify-content-md-start mb-4 mb-lg-3" style="user-select: auto;">
                  <form action="/books/" action="get">
                  <button type="submit" value="books" class="btn btn-lg px-4 me-md-0" style="user-select: auto;">Books to read</button>
                </form>
                </div>
              </div>
              <div class="col-lg-6 col-sm-3 offset-lg-1 p-0" style="user-select: auto;">
                  <img class=" frontpageimage" src="/il_794xN.4809415892_cw0n.webp" alt="" width="500" style="user-select: auto;">
              </div>
              
            </div>
          </div>



          <section>
          <div class="content mx-5 mr-0 py-3" id="custom-cards" style="user-select: auto;">
            
            <h2 class="pb-2 pl-2 border-bottom textbody" style="user-select: auto;">Articles</h2>
          
            <div class="row rows-lg-6 row-cols-1 row-cols-lg-3 col-lg-12 col-sm-10 col-sm-g-4 my-5">
              <div class="col" style="user-select: auto;">
                 <form action="/articles/" method="GET">
                  <input type="submit" style="background-image: url(/articlesimage1.jpeg);" class="homepagecards" value="The joy of wedding season.">
                 </form> 
              

              </div>
            </form>
        
              <div class="col" style="user-select: auto;">
                <form action="/articles/" method="GET">
                  <input type="submit" style="background-image: url(/articlesimage2.jpeg);" class="homepagecards" value="How much is too much when it comes to coffee?">
                 </form> 
                </div>
              
        
              <div class="col" style="user-select: auto;">
                <form action="/articles/" method="GET">
                  <input type="submit" style="background-image: url(/articlesimage3.jpeg);" class="homepagecards" value="Are brands the real luxury?">
                 </form> 
              </div>
           
          </div>
          
        </section>
      <section>
        <div class="content" style="margin-left:50px; margin-bottom: 40px;margin-right: 50px;">
          <h2 class="pb-2 pl-2 border-bottom textbody" style="user-select: auto;">Products</h2>
        <div class="row featurette" style="margin-top:40px;">
          <div class="col-md-7 order-md-2 " style="margin-top: 200px;">
            <h2 class="featurette-heading fw-normal lh-1 textbody" style="">Top 10 rated kitchen products <span class="textbody" style="user-select: auto;">you just can't miss.</span></h2>
            <p class="lead" style="">There is a major buzz around the world. And its about kitchen gadgets. From peelers to mixers and grinders, everythings looks like it is from the future. Check out the newly launched top 10 kitchen gadgets you definitely need for your kitchen. </p>
            <form action="/products" method="GET">
              <input type="submit" class="btn" value="Read more" style="margin-left:76%;">
            </form>
          </div>
          <div class="col-md-5 order-md-1" style="user-select: auto;">
          <img src="/articlesmain.jpg">
          </div>
        </div>
      </div>
      </section>
<section>
  <div class="content" style="margin-left:60px; margin-bottom: 40px;">
  <div class="row" style="user-select: auto;">
    <div class="col-lg-4" style="user-select: auto;">
      <img class="rounded-circle" src="/bathroom.webp" style="width:200px; height:200px">
      <h2 class="fw-normal" style="user-select: auto;">Bathroom Accessories</h2>
      <p style="user-select: auto;">Want a unique touch to your bathroom? Well we are here to bring you the ultimate fusion between modern and antique.</p>
      <form action="/products/" method="GET">
        <input type="submit" class="btn" value="View details">
       </form>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="user-select: auto;">
      <img class="rounded-circle" src="/kitchen.jpg" style="width:200px; height:200px">
      <h2 class="fw-normal" style="user-select: auto;">Storage</h2>
      <p style="user-select: auto;">Increase your home space and decrease all the clutter. Get your hands on these amazing storage units while staying in budget.</p>
      <form action="/products/" method="GET">
        <input type="submit" class="btn" value="View details">
       </form>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="user-select: auto;">
      <img class="rounded-circle" src="/bedroom.jpg" style="width:200px; height:200px">
      <h2 class="fw-normal" style="user-select: auto;">Bedroom decor</h2>
      <p style="user-select: auto;">Make your bedroom cozy, comfortable and stylish. We bring you all the latest collection of bedroom decor.</p>
      <form action="/products/" method="GET">
     <input type="submit" class="btn" value="View details">
    </form>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
</section>


      <%- include('footer.ejs') %>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>